@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";




#animatedItem {
    animation: rotateAround 10s linear infinite;
}



@keyframes rotateAround {
    0% {
        left: 0;
        top: 0;
        transform: translateX(0) translateY(0);
    }

    25% {
        left: 100%;
        top: 0;
        transform: translateX(-100%) translateY(0);
    }

    50% {
        left: 10%;
        top: 100%;
        transform: translateX(-100%) translateY(-100%);
    }

    75% {
        left: 70%;
        top: 100%;
        transform: translateX(0) translateY(-100%);
    }

    100% {
        left: 0;
        top: 80%;
        transform: translateX(100%) translateY(0);
    }
}

@keyframes rotateAround1 {
    100% {
        left: 40%;
        top: 0;
        transform: translateX(0) translateY(0);
    }

    75% {
        left: 20%;
        top: 0;
        transform: translateX(-100%) translateY(0);
    }

    50% {
        left: 100%;
        top: 100%;
        transform: translateX(-100%) translateY(-100%);
    }

    25% {
        left: 0;
        top: 100%;
        transform: translateX(0) translateY(-100%);
    }

    0% {
        left: 0;
        top: 0;
        transform: translateX(0) translateY(0);
    }
}




@layer base {

    @font-face {
        font-family: "OpenSans";
        src: url(../public/fonts/OpenSans-ExtraBold.ttf) format(ttf);
    }

    @font-face {
        font-family: "openSans-variable";
        src: url(../public/fonts/OpenSans-VariableFont_wdth\,wght.ttf) format(ttf);
    }

    @font-face {
        font-family: "sans-Bold";
        src: url(../public/fonts/PTSans-Bold.ttf) format(ttf);
    }

    @font-face {
        font-family: "sans-Regular";
        src: url(../public/fonts/PTSans-Regular.ttf) format(ttf);
    }

    @font-face {
        font-family: "Serif-Bold";
        src: url(../public/fonts/PTSerif-Bold.ttf) format(ttf);
    }

    @font-face {
        font-family: "Serif-Regular";
        src: url(../public/fonts/PTSerif-Regular.ttf) format(ttf);
    }

    @font-face {
        font-family: "Sans-italic";
        src: url(../public/fonts/PTSans-Italic.ttf) format(ttf);
    }

    @font-face {
        font-family: "OpenSans-italic";
        src: url(../public/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf) format(ttf);
    }

    @font-face {
        font-family: "Serif-italic";
        src: url(../public/fonts/PTSerif-Italic.ttf) format(ttf);
    }

    @font-face {
        font-family: "inter";
        src: url(../public/fonts/Inter.ttf) format(ttf);
    }

    @font-face {
        font-family: "inter-italic";
        src: url(../public/fonts/Inter-Italic.ttf) format(ttf);
    }



}